.sect-1 {
  position: absolute;
  z-index: 2;
  max-width: 275px;
  transition: all .7s ease;
  .close, .content, .soc-text {
    display: none;
  }
}

.burger {
  transform: translateX(90px);
  transition: all .7s ease;
}

.padding-menu {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 30px;
  transition: padding-left .7s ease;
}

.news {
  height: 247px;
}

.media {
  height: 422px;
}

.view {
  height: 254px;
}

.sect-1.active .content, .sect-1.active .close {
  display: block;
}

.sect-1.active .icons, .sect-1.active .burger{
  display: none;
}

.sect-1.active .padding-menu {
  padding-left: 110px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sect-1.active .burger {
  transform: translateX(110px);
}



.soc-text {
  @include media-breakpoint-up(xl) {
    display: block;
  }
}
.soc-content {
  @include media-breakpoint-up(xl) {
    display: block;
  }
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*.sidebar {
  max-width: 120px;
  &.active {
    max-width: 310px;
  }
}*/

.logo-block .left-indent {
  transition: padding-left .2s ease;
}

.menu {
  .item {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translateX(-80px);
    transition: transform .2s ease;
    .icons {
      margin-right: 20px;
      transition: opacity .2s ease;
    }
  }
  .text-item {
    transition: opacity .2s ease;
  }
}

@media (min-width: 768px){
  .left-indent {
    padding-left: 90px;
  }
}

.sidebar:not(.active) .menu .item .icons,
.sidebar.active .menu .item .text-item {
  opacity: 0;
}

/*.sidebar {
  width: 320px;
  overflow: hidden;
  will-change: width;
  transition: width .2s ease;
}*/


.sidebar.active {
  width: 120px;
  .logo-block .left-indent  {
    padding-left: 20px;
  }
  .menu .item.left-indent {
    padding-left: 16px;
  }
  .menu .item {
    transform: translateX(0)
  }

}
