.sect-1 {
  //position: absolute;
  position: relative;
  //opacity: 0;
  z-index: 2;
  max-width: 120px;
  @media (min-width: 1199px) {
    //position: absolute;
    max-width: 400px;
  }
  transition: max-width .7s ease;
  .close, .menu .content, .news .content, .media .content, .view .content, .soc-footer .soc-text {
    display: none;
  }
  @media (min-width: 1199px) {
    .close, .menu .content, .news .content, .media .content, .view .content, .soc-footer .soc-text {
      display: block;
    }
    .burger, .menu .menu-icon, .news .news-icon, .media .media-icon, .view .view-icon {
      display: none;
    }
    //position: absolute;
  }
}


.sect-1 {

}