.burger {
  top: 20px;
  cursor: pointer;
  display: block;
}

.close {
  top: 20px;
  right: 8%;
  cursor: pointer;
  display: none;
}


.menu {
  .menu-item {
    display: flex;
    align-items: center;
    .icons {
      margin-right: 20px;
    }
  }
}



.sideber {
  width: 120px;
  transition: width 1s ease;
  .left-ident {
    padding-left: 25px;
  }
  .menu-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    .text-item {
      opacity: 0;
    }
  }

  .icons {
    position: absolute;
    opacity: 1;
  }
  .content {
    display: none;
  }
  .news {
    height: 247px;
  }
  .z-media {
    height: 422px;
  }
  .soc-footer {
    .soc-content {
      flex-direction: column;
    }
    .soc-text {
      display: none;
    }
  }



  &.active {
    width: 310px;
    .left-ident {
      padding-left: 115px;
    }
    .menu-item {
      position: relative;
      display: block;
      .text-item {
        opacity: 1;
      }
    }

    .burger {
      display: none;
    }
    .close {
      display: block;
    }

    .icons {
       opacity: 0;
     }
    .content {
      display: block;
    }

    .soc-footer {
      .soc-content {
        flex-direction: row;
      }
      .soc-text {
        display: block;
      }
    }
  }
}
