/*
.soc-icon {
  width: 24px;
  height: 24px;

  svg {
    width: 24px;
    height: 24px;
  }
}
*/


.close {
  width: $close;
  height: $close;
  svg {
    width: $close;
    height: $close;
  }
}

.burger {
  width: $burger-w;
  height: $burger-h;
  svg {
    width: $burger-w;
    height: $burger-h
  }
}

.fours svg {
  width: $mail;
  height: $mail;
}

.menu-icon, .news-icon, .media-icon, .view-icon {
  width: 48px;
  height: 32px;
  svg {
    width: 48px;
    height: 32px;
  }
}

.like-part, .share-part {
  width: 16px;
  height: 16px;
  svg {
    width: 16px;
    height: 16px;
  }
}

.soc-icon {
  width: $soc-icon-size;
  height: $soc-icon-size;
  svg {
    width: $soc-icon-size;
    height: $soc-icon-size;
  }
}